@model List<MyCustomer>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table border="1">
    <tr>
        <th> CustomerID</th>
        <th> CustomerName</th>
        <th> CustomerAddress</th>
        <th> CustomerBill</th>
        <th> Options</th>
    </tr>
    @foreach(var cst in Model)
    {
        <tr>
            <td>@cst.CstId</td>
            <td>@cst.CstName</td>
            <td>@cst.CstAddress</td>
            <td>@cst.BillAmount</td>
            <td>
                <a asp-controller="Customer" asp-action="EditCustomer" asp-route-id="@cst.CstId" class="btn btn-primary m-2">Edit</a>
                <a asp-controller="Customer" asp-action="DeleteCustomer" asp-route-id="@cst.CstId" class="btn btn-danger m-2">Delete</a>
            </td>
        </tr>
    }
</table>